##Decision Tree For Classification

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
# import dataset from sklearn.
# from sklearn.datasets import *
# iris=load_iris()
# ir=pd.DataFrame(iris.data)
# ir.columns=iris.feature_names
# ir['CLASS']=iris.target
# ir.head()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
iris=pd.read_csv("/content/drive/MyDrive/iris.csv")

In [ ]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
y=iris[['variety']]

In [ ]:
x=iris[['sepal.length']]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dtc=DecisionTreeClassifier()

In [ ]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier()

In [ ]:
y_pred=dtc.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(y_test,y_pred)

array([[13,  4,  0],
       [ 3, 12, 10],
       [ 0,  4, 14]])

In [ ]:
(13+12+14)/(13+4+0+3+12+10+4+14)

0.65

## Decision Tree For Regression

In [ ]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
# Change in sepal length when there is a change in petal length
x=iris[['petal.length']]

In [ ]:
y=iris[['sepal.length']]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
dtr=DecisionTreeRegressor()

In [ ]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor()

In [ ]:
y_pred=dtr.predict(x_test)

In [ ]:
y_test.head()

     sepal.length
92            5.8
115           6.4
118           7.7
114           5.8
102           7.1

In [ ]:
y_pred[0:5]

array([5.7 , 6.4 , 7.7 , 6.22, 6.8 ])

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test,y_pred)

0.13895156650234416